:root {
  --conway-speed: 1s;
}

#jtime-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  font-size: 30px;

  background-color: rgba(200, 200, 200, 0.6);

  .flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}

.conway {
  position: relative;

  height: 44px;
  margin-bottom: 20px;
  width: 44px;

  font-size: 0;

  animation-duration: var(--conway-speed);
  animation-iteration-count: infinite;
  animation-name: conway;
  animation-timing-function: linear;
}

.conway-cell {
  display: inline-block;
  height: 10px;
  margin: 0 1px 1px 0;
  width: 10px;

  background-color: #000;
  border-radius: 5px;
  opacity: 0;
}

.conway01,
.conway10,
.conway11,
.conway12,
.conway20,
.conway21,
.conway23,
.conway31,
.conway32 {
  animation-duration: var(--conway-speed);
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}

.conway01 { animation-name: conway-bwww; }
.conway10 { animation-name: conway-wbww; }
.conway11 { animation-name: conway-wwwb; }
.conway12 { animation-name: conway-bbbw; }
.conway20 { animation-name: conway-bwbw; }
.conway21 { animation-name: conway-bbww; }
.conway22 { opacity: 0.9; }
.conway23 { animation-name: conway-wwwb; }
.conway31 { animation-name: conway-wbbb; }
.conway32 { animation-name: conway-wwbb; }

@keyframes conway {
  0% { transform: translate(11px, 11px); }
  100% { transform: translate(0); }
}

@keyframes conway-bwww {
  /* Don't use 1 to make sure that the element is not fully opaque.
     Otherwise, elements behind might get unpainted and trigger a repaint on animation */
  0% { opacity: 0.9; }
  25% { opacity: 0; }
}

@keyframes conway-wbww {
  0% { opacity: 0; }
  25% { opacity: 0.9; }
  50% { opacity: 0; }
}

@keyframes conway-wwwb {
  0% { opacity: 0; }
  75% { opacity: 0.9; }
}

@keyframes conway-bbbw {
  0% { opacity: 0.9; }
  75% { opacity: 0; }
}

@keyframes conway-bwbw {
  0% { opacity: 0.9; }
  25% { opacity: 0; }
  50% { opacity: 0.9; }
  75% { opacity: 0; }
}

@keyframes conway-bbww {
  0% { opacity: 0.9; }
  50% { opacity: 0; }
}

@keyframes conway-wbbb {
  0% { opacity: 0; }
  25% { opacity: 1; }
}

@keyframes conway-wwbb {
  0% { opacity: 0; }
  50% { opacity: 0.9; }
}
