@import '../../variables.css';

.jtime-spent-controls {
  float: left;

  margin: 1em;

  a.button {
    clear: left;
    float: left;

    display: block;
    margin: 0 5px 5px 0;

    cursor: pointer;
  }

  a.button.selected {
    color: white;

    background-color: var(--dark-grey);
  }
}

.jtime-spent-report {
  float: left;

  margin: 1em;
  padding: 10px;
  max-width: 700px;

  color: white;

  background-color: var(--themeMedium);
  border-radius: 5px;

  p {
    margin: 0;
  }

  ul {
    margin: 0.5em 0 0 0;
  }
}
