@import '../../variables.css';

.header {
  text-align: center;

  h2 {
    display: inline-block;
    margin: 1em 0;

    color: #333;
  }

  a {
    padding: 0 1em;

    color: var(--grey);
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;

    &:focus,
    &:hover {
      color: var(--dark-grey);

      outline: 0;
    }
  }
}

.jtime-persontime-controls {
  float: left;

  margin: 1em;

  a.button {
    clear: left;
    float: left;

    display: block;
    margin: 0 5px 5px 0;
  }
}

.jtime-persontime-container {
  clear: left;

  display: flex;
  flex-wrap: wrap;
}

.jtime-persontime-subcontainer {
  min-width: 320px;
  max-width: 1200px;
}

.jtime-persontime-table-container {
  flex-grow: 100;
  width: 600px;
}

.jtime-persontime-stats-container {
  flex-grow: 1;
  width: 350px;
}

.jtime-persontime-controls .avatar {
  height: 32px;
  width: 32px;

  border-radius: 3px;
  vertical-align: middle;
}
