{
	"env": {
		"browser": true,
		"es6": true
	},
	"ecmaFeatures": {
		"modules": true
	},
	"globals": {
		"$": false,
		"$$": false,
		"jtime": false,
		"Handlebars": false
	},
	"rules": {
		"no-console": false
	}
}