@import 'variables.css';

html {
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding-top: var(--headerHeight);

  background-color: #f7f7f7;
}

select {
  border: 1px solid black;
  padding-right: 20px;

  appearance: none;
  background: url('data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==');
  background-position: right center;
  background-repeat: no-repeat;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

a.button {
  border: 1px solid var(--darker-grey);
  display: inline-block;
  padding: 6px 12px;

  color: var(--darker-grey);
  font-weight: bold;
  text-decoration: none;

  border-radius: 5px;

  &:focus {
    border-color: var(--dark-grey);

    outline: none;
  }
}
