:root {
  --lighter-grey: #f7f7f7;
  --light-grey: #eee;
  --grey: #ccc;
  --dark-grey: #aaa;
  --darker-grey: #333;

  --themeDark: #205081;
  --themeMedium: #438dda;

  --headerBackground: #205081;
  --headerColor: white;

  --color0: #5da5da; /* blue */
  --color1: #faa43a; /* orange */
  --color2: #60bd68; /* green */
  --color3: #f17cb0; /* pink */
  --color4: #b2912f; /* brown */
  --color5: #b276b2; /* purple */
  --color6: #decf3f; /* yellow */
  --color7: #f15854; /* red */
  --color8: #4d4d4d; /* gray */
  --color9: #cacaca; /* light-gray */

  --headerHeight: 45px;
}
